# Database
jobs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/

# IDE
.vscode/
*.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# test code
scrapers (development)/
scrapers (old versions)/
main_old.py
main_tester.py
view_jobs.py
test.ipynb
test.py

# meta information
metadata/
templates/
templates/